input {
    width: 100px;
    margin-block: 5px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 7px;
    text-align: center;
    background: white;
}

hr {
    border-style: solid
}

.titre {
    text-align: center;
    background: black;
    color: white;
}

.grosse-ligne {
    border-width: 3px;
}

.grosse-ligne-point {
    border-width: 2px;
    border-style: dashed;
}

.input {
    display: flex;
    align-items: center;
}

.button {
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    border-width: 1px;
    font-size: 20px;
    margin-inline: 10px;
    width: 32px;
    background-color: white;
}

.button:active {
    background-color: red;
    color: white;
}

.pain {
    background: lightblue
}

.olive {
    background: lightgrey
}

.tomate {
    background: lightpink
}

.poids-total {
    background: lightgoldenrodyellow
}

.recette {
    background: lightgreen
}

.texte {
    font-size: 25px;
    font-weight: bold;
    margin-inline: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texte-centre {
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
}

